<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  <div class="row justify-content-center vh-100 main-div">
		<div class="col-4 p-3 align-self-center rounded form-div">
		
			<form method="POST" action="./login">
        <div class="mb-3">
					<label for="username" class="form-label">Username</label>
					<input type="text" class="form-control" id="username" name="username">
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input type="password" class="form-control" id="password" name="password">
					<div class="row text-center">
						<div class="col">
							<small>	
								Don't have an account? <a href="/auth/register">Register</a>
							</small>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-8 text-center">
						<button type="submit" class="btn btn-primary">Login</button>
					</div>
				</div>
			</form>

			{{range $error := .errors}}
			<div class="row my-1 justify-content-center text-center">
				<div class="col-6">
					<div class="alert alert-danger" role="alert">
						{{ $error }}
					</div>
				</div>
			</div>
			{{end}}
	
			{{range $message := .messages}}
			<div class="row my-1 justify-content-center text-center">
				<div class="col-6">
					<div class="alert alert-success" role="alert">
						{{ $message }}
					</div>
				</div>
			</div>
			{{end}}

		</div>
	</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>